<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <system.webServer>
    <!-- Rules for Application Request routing -->
    <rewrite>
      <rules>
        <!-- Deliver Maintenance Page directly -->
        <rule name="MaintenancePage" stopProcessing="true" enabled="true">
          <match url="^maintenance.html$" />
          <action type="None" />
        </rule>
		<rule name="ConstructionImage" stopProcessing="true" enabled="true">
          <match url="^construction.jpeg$" />
          <action type="None" />
        </rule>
        <!-- create a rule for each additional custom maintenance page files -->
        <!--<rule name="MaintenancePage" stopProcessing="true" enabled="true">
          <match url="^myfile.ext$" />
          <action type="None" />
        </rule>-->
        
        <!-- Rule to redirect all traffic to the maintenance page -->
        <rule name="IsInMaintenance" stopProcessing="true" enabled="false">
          <match url="(.*)" />
          <action type="Rewrite" url="/maintenance.html" redirectType="Temporary" />
        </rule>
        
        <!-- Rules to deny access to cockpit urls -->
        <rule name="Block_AdminCockpit" stopProcessing="true" enabled="true">
          <match url="^admincockpit($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_CmsCockpit" stopProcessing="true" enabled="true">
          <match url="^cmscockpit($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_CmsCockpitRegular" stopProcessing="true" enabled="true">
          <match url="^cmscockpitRegular($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_AcceleratorServices" stopProcessing="true" enabled="true">
          <match url="^acceleratorservices($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_CsCockpit" stopProcessing="true" enabled="true">
          <match url="^cscockpit($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_hac" stopProcessing="true" enabled="true">
          <match url="^hac($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_hmc" stopProcessing="true" enabled="true">
          <match url="^hmc($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_instore" stopProcessing="true" enabled="true">
          <match url="^instore($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_mcc" stopProcessing="true" enabled="true">
          <match url="^mcc($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_ws410" stopProcessing="true" enabled="true">
          <match url="^ws410($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_ProductCockpit" stopProcessing="true" enabled="true">
          <match url="^productcockpit($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_ReportCockpit" stopProcessing="true" enabled="true">
          <match url="^reportcockpit($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_SolrFacetSearch" stopProcessing="true" enabled="true">
          <match url="^solrfacetsearch($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_VirtualJDBC" stopProcessing="true" enabled="true">
          <match url="^virtualjdbc($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        <rule name="Block_Test" stopProcessing="true" enabled="true">
          <match url="^test($|/.*)" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
        </rule>
        
        <!-- Rule to redirect all traffic to the webfarm -->
        <rule name="WebFarm" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://AzureWebFarm/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.20.0" newVersion="2.2.20.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>